{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Homework_5_Serebryakov_Alex</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Bungee+Inline" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/finance.css' %}">
    </head>
    <body>
        <h2>Welcome!</h2>
        <h4>Homework_5_Serebryakov_Alex</h4>
        <p><a href='/accounts/'>To your accounts</a></p>
    </body>
</html>   